# ===============================================================
# Project: opengist
# ===============================================================

TIMEZONE=Etc/UTC
ROOT_DIR=/opt/docker/opengist

# App: opengist
# ===============================================================

OPENGIST_APP_IMAGE=ghcr.io/thomiceli/opengist:1.10.0
OPENGIST_APP_CONTAINER=opengist-app
OPENGIST_APP_DOMAIN=opengist.exmpale.com

# refer: https://opengist.io/docs/configuration/cheat-sheet.html
